body, html {
    height: 100%;
    margin: 0;
}

.page-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    margin-top: 50px;
}

main {
    flex: 1;  // Ensures it takes up all available space
}
