<!-- <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid text-center bg-white text-black">
      <h1 class="display-4">¡Bienvenido a Luxury Car Rentals!</h1>
      <p class="lead">¡Aquí encontrarás los vehículos de lujo más exclusivos para tus necesidades de transporte!</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/home.png" alt="home-image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2>Descubre nuestra selección de vehículos de lujo</h2>
        <p>Explora nuestra amplia gama de vehículos de lujo, desde deportivos y descapotables hasta SUVs y sedanes de alta gama.</p>
      
        <a href="/cars" class="btn btn-primary">Explorar vehículos</a>
      </div>
    </div>
</div> -->

<div class="container-fluid hero-container">
  <div class="jumbotron jumbotron-fluid hero-jumbotron text-center">
      <h1 class="display-4">¡Bienvenido a Luxury Car Rentals!</h1>
      <p class="lead">¡Aquí encontrarás los vehículos de lujo más exclusivos para tus necesidades de transporte!</p>
      <a href="/cars" class="btn btn-primary btn-explore">Explorar vehículos</a>
  </div>
  <img src="../../../assets/home.png" alt="Luxury Car" class="hero-image img-fluid">
</div>
