<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mt-5">
                <h1 class="display-1">404</h1>
                <p class="lead">La página que estás buscando no se encontró.</p>
                <p>Lo sentimos, pero la página que estás buscando no existe, ha sido eliminada o ha cambiado de nombre.
                </p>
                <a routerLink="/" class="btn btn-primary">Volver al inicio</a>
            </div>
        </div>
    </div>
</div>