<footer class="footer">
    <div class="footer-content">
        <div class="footer-section brand-section">
            <a href="#" class="brand-link">
                <img src="../../../assets/logo.png" alt="Logo" class="logo">
                <span class="brand-name">Luxury Car Group</span>
            </a>
            <ul class="list-unstyled">
              <li>Dirección: Av. Luxury Car Rental 123, Ciudad de Lujo</li>
              <li>Teléfono: +123 456 789</li>
              <li>Email: info&#64;luxurycarrental.com</li>
            </ul>
        </div>
        <div class="footer-section links-container">
            <div class="links-column">
                <h2 class="links-title">ENLACES RAPIDOS</h2>
                <ul class="links-list">
                    <li><a href="#" class="link-item">Home</a></li>
                    <li><a href="#" class="link-item">Vehículos</a></li>
                    <li><a href="#" class="link-item">Acerca de nosotros</a></li>
                    <li><a href="#" class="link-item">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="copyright">© 2020 - Luxury Car Group
            <!-- <a href="#" target="_blank" class="twitter-link">Car Group</a> -->
        </p>
        <div class="social-links">
            <!-- Social icons -->
            <a href="https://www.facebook.com">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://github.com">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.instagram.com">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https:www.twitter.com">
              <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>
